.paginationContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 30px auto;
  width: 35%;
  background-color: #333333;
  color: #fff;
  border-radius: 100px;
}

.paginationElement,
.arrowButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  transition: backgroundColor 0.3s ease;
}

.paginationElementSelected {
  background-color: #5b5b5b;
}

.disabled {
  color: #5b5b5b;
  cursor: not-allowed;
}

.paginationElement:not(.disabled):hover,
.arrowButtons:not(.disabled):hover {
  cursor: pointer;
  background-color: #5b5b5b;
  transition: background-color 0.3s ease;
}
